.navigation__footer {
  display: flex;
  gap: 40px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__home {
  background: transparent;
  position: relative;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-right: 42px;
  padding: 0;
}

.navigation__home_active::after {
  content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -28px;
  height: 3px;
  background-color: #fff;
}

.navigation__saved-news_active::after {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  bottom: -28px;
  height: 3px;
  background-color: #000;
}

.navigation__home_type_saved-news {
  color: #000;
}

.navigation__saved-news {
  background: transparent;
  position: relative;
  border: none;
  color: rgb(182, 188, 191);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  padding: 0;
  margin: 0 64px 0 34px;
  cursor: url(../../assets/custom-cursor-pointer.svg) 0 0, pointer;
}

.navigation__saved-news_type_saved-news {
  color: #000;
}

.navigation__profile {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 100px;
  width: 112px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px 0;
  cursor: url(../../assets/custom-cursor-pointer.svg) 0 0, pointer;
}

.navigation__profile_type_saved-news {
  color: #000;
  border: 1px solid #000;
}

.navigation__logout {
  width: 24px;
  height: 24px;
}

.navigation__signin {
  width: 176px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 100px;
  padding: 12px;
  cursor: url(../../assets/custom-cursor-pointer.svg) 0 0, pointer;
}

.navigation__internal-links {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navigation__external-links {
  display: flex;
  gap: 24px;
  align-items: center;
}

.navigation__home_type_footer {
  background: transparent;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  color: rgb(26, 27, 34);
  cursor: url(../../assets/custom-cursor-pointer.svg) 0 0, pointer;
}

.navigation__tripleten-link {
  background: transparent;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  text-decoration: none;
  color: rgb(26, 27, 34);
  cursor: url(../../assets/custom-cursor-pointer.svg) 0 0, pointer;
}

.navigation__github-link {
  background: transparent;
  border: none;
  padding: 0;
  cursor: url(../../assets/custom-cursor-pointer.svg) 0 0, pointer;
  width: 24px;
  height: 24px;
}

.navigation__linkedin-link {
  background: transparent;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  cursor: url(../../assets/custom-cursor-pointer.svg) 0 0, pointer;
}

.navigation__logo {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .navigation__home {
    font-size: 16px;
    margin-right: 16px;
  }

  .navigation__saved-news {
    font-size: 16px;
  }

  .navigation__signin {
    width: 152px;
    padding: 8px;
  }

  .navigation__profile {
    width: 100px;
    padding: 8px 0;
  }
}

@media screen and (max-width: 425px) {
  .navigation__internal-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation__external-links {
    align-items: flex-start;
  }

  .navigation__footer {
    justify-content: space-between;
  }
}
