.search-form {
  max-width: 608px;
}

.search-form__container {
  display: flex;
  position: relative;
}

.search-form__input {
  width: 100%;
  padding: 21px 0 21px 21px;
  border-radius: 100px;
  border: 1px solid rgb(209, 210, 214);
}

.search-form__input:focus {
  outline: none;
}

.search-form__submit-button {
  padding: 20px 0;
  width: 168px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  background-color: rgb(47, 113, 229);
  border-radius: 100px;
  border: none;
  margin-right: -36px;
  position: absolute;
  right: 0;
  top: -1px;
  color: #fff;
  height: 64px;
  cursor: url(../../assets/custom-cursor-pointer.svg) 0 0, pointer;
}

.search-results__wrapper {
  background-color: #f5f6f7;
  width: 100%;
}

.search-results__title {
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
  margin: 80px 0 0 104px;
}

.search-results__button-wrapper {
  padding-bottom: 80px;
}

.search-results__expand-button {
  margin: 0 auto;
  padding: 20px 0;
  width: 288px;
  border-radius: 80px;
  border: none;
  background-color: rgb(232, 232, 232);
  display: flex;
  justify-content: center;
  cursor: url(../../assets/custom-cursor-pointer.svg) 0 0, pointer;
}
