.search-form {
  max-width: 608px;
}

.search-form__container {
  display: flex;
  position: relative;
}

.search-form__input {
  width: 100%;
  padding: 21px 0 21px 21px;
  border-radius: 100px;
  border: 1px solid rgb(209, 210, 214);
}

.search-form__input:focus {
  outline: none;
}

.search-form__submit-button {
  padding: 20px 0;
  width: 168px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  background-color: rgb(47, 113, 229);
  filter: drop-shadow(0 5px 15px rgba(14, 26, 57, 0.2));
  border-radius: 100px;
  border: none;
  margin-right: -36px;
  position: absolute;
  right: 0;
  top: -1px;
  color: #fff;
  height: 64px;
  cursor: url(../../assets/custom-cursor-pointer.svg) 0 0, pointer;
  transition: background-color 0.3s ease;
}

.search-form__submit-button:hover {
  background-color: #347eff;
  transform: scale(1.02);
}
