.news-card {
  position: relative;
  width: 400px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.news-card__save-icon-wrapper {
  position: absolute;
  top: 24px;
  right: 24px;
}

.news-card__save-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}

.news-card__save-icon:hover {
  background-image: url(../../assets/save-article-hover.svg);
  z-index: 1;
}

.news-card__save-icon-wrapper.news-card__show-tooltip:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  line-height: 100%;
  font-weight: 500;
  width: 182px;
  height: 40px;
  top: 0;
  right: 45px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease;
}

.news-card__image {
  width: 100%;
  height: 272px;
  margin-bottom: 20px;
  border-radius: 16px 16px 0 0;
}

.news-card__info {
  margin: 0 24px;
}

.news-card__date {
  color: rgb(182, 188, 191);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 12px;
}

.news-card__title {
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(26, 27, 34);
  margin: 0 0 16px;
}

.news-card__description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: rgb(26, 27, 34);
  margin: 0 0 18px;
}

.news-card__source {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.4px;
  font-size: 16px;
  line-height: 20px;
  padding: 0 0 24px;
  margin: 0;
  color: rgb(182, 188, 191);
}
